<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>
<body>
  <section class="container">
  <a href="/register"> REGISTER </a>
  <a href="/login"> LOGIN </a>
  </section>
</body>
</html>