<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>

  <body>

    <header>

      <div>

        <% if (user) { %>
            Logged in as <strong><%=user.email%></strong>

          <form method='POST' action='/logout'>

            <button type="submit">Logout</button>

          </form>

        <% } else { %>

          <a href="/login">Login</a>

          <a href="/register">Create a new account</a>

        <% } %>

      </div>

      <div id="name">

        <h1><a href="/urls">TinyApp: <span>URL shortener</span></a></h1>

      </div>

    </header>

  </body>

</html>

