<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header><% include ./partials/_header.ejs %></header>
  <table>
    <thread>
      <tr>
        <th>Shortened</th>
        <th>Full URL</th>
      </tr>
    </thread>
    <tbody>
      <% for(let short in urls) { %>
       <form method="POST" action="/urls/9sm5xK/delete">
        <tr>
          <td><a href="/urls/<%= short %>"><%= short %> <a/> </td>
          <td><a href="/urls/<%= short %>">edit<a/> </td>
          <td><%= urls[short] %> <button type="submit"> Delete </button></td>

        </tr>
        </form>
      <% } %>
    </tbody>
  </table>
</body>
</html>




