<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <table>
     <thread>
       <tr>
         <th>Shortened</th>
         <th>Full URL</th>
       </tr>
     </thread>
     <tbody>

       <tr>
         <td><%= shortURL %></td>
         <td><%= longURL %></td>
       </tr>

     </tbody>
   </table>
</body>
<!-- </html> -->