<!DOCTYPE html>
<html lang="en">

  <head>

    <title>TinyApp</title>

  </head>

  <body>

    <header>

      <% include ./partials/_header.ejs %>

    </header>

    <h3>Edit URL <span>(<%=shortURLs%>)</span></h3>

    <form method="POST" action='/urls/<%=shortURLs%>'>

      <input type="text" value='<%=longURL%>' name='newURL' style='width: 300px' autofocus>

      <button type="submit">Submit</button>

    </form>

    <a href="/urls">Cancel</a>

  </body>

</html>

