<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header><% include ./partials/_header.ejs %></header>
  </form>
     <h3>SignUp to Web App</h3>
      <form method="post" action="/register">
        <p><input type="email" name="email" value="" placeholder="Enter your email here. "></p>
        <p><input type="password" name="password" value="" placeholder="Enter your password here."></p>
        <p class="submit"><input type="submit" value="Register"></p>
  </form>
</body>
</html>





